[Unit]
Description=Chromium Kiosk Mode Browser for HiWiTV
Wants=graphical-session.target
After=graphical-session.target

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/chromium-browser --kiosk --noerrdialogs --disable-infobars --ignore-certificate-errors --no-sandbox --disable-gpu --disable-dev-shm-usage --incognito https://match-misc.github.io/studitv-kiosk/
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical-session.target